@import url('https://fonts.googleapis.com/css?family=PT+Sans&display=swap');

body {
    font-family: 'PT Sans', sans-serif;
    line-height: 1.42857143;
    font-size: 14px;
}

/* St. Carousel */

.overlay {
    position: absolute;
    background-color: rgba(65, 155, 155, 0.5);
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

.title1 {
    font-size: 250%;
    font-weight: bold;
    color: white;
}

.title2 {
    font-size: 130%;
    color: #EEEEEE;
    width: 60%;
    line-height: 35px;
    margin-top: 10px;
    margin-bottom: 25px;
    text-align: center;
}

/* End. Carousel */

/* St. About */

.center {
    text-align: center;
    margin-bottom: 15px;
}

h2 {
    font-weight: bolder;
    margin: 35px 0;
}

.custom-paragraph {
    line-height: 33px;
    margin: 10px 20%;
    font-size: 20px;
}

.custom-btn-main {
    background-color: #FF7766;
    color: white;
    width: 250px;
    padding: 15px;
    margin-top: 30px;
    margin-bottom: 25px;
    border: 1px solid white;
    font-weight: bold;
    font-size: 20px;
    transition: all .3s ease;
}

.custom-btn-main:hover,
.custom-btn-main:focus,
.custom-btn-main:active,
.custom-btn-main:focus:active {
    background-color: #FF7766;
    color: #363636;
    border: 1px solid white;
    box-shadow: none;
}

/* End. About */


/* St. Projects */

#latest-company-projects {
    width: 80%;
    left: 10%;
}

.project-thumbnail-overlay {
    position: absolute;
    background-color: rgba(65, 155, 155, 0.5);
    width: 100%;
    height: 100%;
    color: white;
    padding: 2%;
    display: none;
}

.custom-title {
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 18px;
}

.project-catogory {
    position: absolute;
    background: rgba(240, 240, 240, 0.75);
    padding: 10px;
    left: 0;
    top: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.custom-carousel-control.right,
.custom-carousel-control.left {
    background-color: transparent;
    color: #363636;
    text-shadow: none;
    width: 0;
}

.custom-carousel-control > i {
    position: absolute;
    top: calc(50% - 20px);
}

.custom-carousel-control.left > i {
    left: -40px;
}

.custom-carousel-control.right > i {
    right: -40px;
}

/* End. Projects */


/* St. Reviews */

.custom-img {
    border-radius: 5px;
    margin: 15px 10px;

}

.custom-title1 {
    font-size: 120%;
    font-weight: bold;
    margin-bottom: 15px;
}

.custom-title2 {
    font-weight: bold;
    margin-bottom: 15px;
    color: #969696;
}

/* End. Reviews */


/* St. clients */

#clients {
    background-color: #419B9B;
    padding-bottom: 20px;
}
.custom-heading {
    color: white;
    font-size: 50px;
}

.client {
    background-color: white;
    width: 165px;
    height: 75px;
    margin-left: 10px;
    margin-bottom: 5px;
}

.img1 {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

.clients-logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* End. clients */


/* St. articles */

.custom-caption {
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    width: 90%;
    position: relative;
    left: 5%;
    top: -20px;
    background-color: white;
    text-align: left;
}

h4 {
    font-weight: bold;
    margin-bottom: 10px;
}

/* End. articles */


/* St. Footer */

.custom-label {
    color: white;
    margin-bottom: 15px;
    font-size: 15px;
    font-weight: normal;
}

/* End. Footer */

  
/*
┌──────────────────────────────────────────┐
│                 Styling                  │
│                about.html                |
└──────────────────────────────────────────┘
*/


#banner {
    padding: 0;
}

#banner > img {
    height: 250px;
    width: 100%;
}

.team {
    width: 350px;
    text-align: center;
    border: 1px solid #EEEEEE;
    border-radius: 2px;
    padding: 20px 15px;
    margin-left: 20px;
    margin-bottom: 25px;
}

.emp_name {
    font-size: 20px;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 8px;
    color: #202020;
}

.emp_position {
    color: #969696;
    font-weight: bold;
    font-size: 15px;
    margin-bottom: -10px;
}

.emp-hr {
    width: 20%;
    border-top: 1px solid #FF7766;
    margin-bottom: 25px;
}

.emp-description {
    font-size: 14px;
    margin: 14px 0;
    color: #969696;
}

.social-about {
    margin-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.one-social {
    height: 30px;
    width: 30px;
    float: left;
    border-radius: 2px;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.facebook:hover {
    background-color: #3B5998;
    transition: all .5s ease;
}
.twitter:hover {
    background-color: #38A1F3;
    transition: all .5s ease;
}
.linkedin:hover {
    background-color: #0077B5;
    transition: all .5s ease;
}

.custom-thumbnail {
    border: none;
    padding: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 10px;
}

.custom-thumbnail > img {
    width: 100%;
}



.one-social > a {
    text-decoration: none;
    color: #929292;
}

.one-social:hover > a {
    color: white;
    transition: all .3s ease;
}

/*
┌──────────────────────────────────────────┐
│                 Styling                  │
│              projects.html               |
└──────────────────────────────────────────┘
*/

.custom-project-thumbnail {
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 15px;
    padding: 0;
}

.project-desc {
    margin-top: 10px;
    margin-bottom: 20px;
    line-height: 1.8em;
}

.project-thumbnail {
    position: relative;
    width: 100%;
    height: 175px;
}

.project-thumbnail > img {
    width: 100%;
    height: 100%;
}

/*
┌──────────────────────────────────────────┐
│                 Styling                  │
│                blog.html                 |
└──────────────────────────────────────────┘
*/

#blog-summary {
    margin-top: 25px;
    margin-bottom: 25px;
}

.custom-media {
    border: 1px solid #EEEEEE;
    border-radius: 2px;
}

.custom-media-object {
    height: 170px;
    width: 220px
}

.custom-media-body {
    padding: 10px;
}

.blog-summary-paragraph {
    color: #A9A9A9;
    width: 90%;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: bold;
}

.border-right {
    border-right: 1px solid #EEEEEE;

}

/*
┌──────────────────────────────────────────┐
│                 Styling                  │
│               article.html               |
└──────────────────────────────────────────┘
*/

.line {
    border:1px solid #EEEEEE;
    width:30%;
    margin-top: 5px;
    margin-bottom: 15px;
}

.blog-img {
    margin-top: 35px;
}

.blog-img > img {
    width: 635px;
}

.blog-details {
    padding: 5px;
    margin-bottom: 20px;
}

.blog-details > p {
    color: #202020;
    font-size: 105%;
    /* font-weight: 700; */
    line-height: 27px;
}

.blog-title {
    font-size: 24px;
    font-weight: 800;
    margin:10px 0;
    color: #FF7766;
}

.blog-title2 {
    font-size: 20px;
    margin: 40px 0 10px 0;
}


.blog-date {
    font-size: 90%;
    color: #969696;
    font-weight: bold;
}

.share-text {
    color: #FF7766;
    font-weight: 600;
    margin-right: 20px;
    font-size: 15px;
}

.social-share > a {
    text-decoration: none;
    width: 35px;
    height: 35px;
    border: 1px solid #EEEEEE;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: white;
    border-radius: 100%;
}

.social-share > a.facebook {
    background-color: #3b5998;
}

.social-share > a.twitter {
    background-color: #38A1F3;
}

.social-share > a.linkedin {
    background-color: #0077B5;
}

/*
┌──────────────────────────────────────────┐
│                 Styling                  │
│                write.html                |
└──────────────────────────────────────────┘
*/

.custom-top {
    margin-top: 50px;
}

.custom-min {
    margin-top: 0;
    
}

.custom-border-radius-zero {
    border-radius: 0;
}

/*
┌──────────────────────────────────────────┐
│                 Styling                  │
│               contact.html               |
└──────────────────────────────────────────┘
*/

.contact-title {
    font-size: 24px;
    font-weight: 700;
    margin-left: 25px;
    margin-top: 25px;
    margin-bottom: 20px;
}

.custom-contact-title {
    margin-left: 0;
    margin-bottom: 0;
}

.custom-main {
    margin-top: 10px;
}

.social-title {
    font-size: 18px;
    font-weight: 700;
}

.custom-social-about {
    margin-top: 15px;
}

.social-contact {
    float: left;
    margin-bottom: 25px;
}

.one-social-circle {
    border-radius: 100%;
    border: 1px solid #EEEEEE;
    padding: 20px;
}

/*
┌──────────────────────────────────────────┐
│         Coding by M. Shikh Taleb         │
│            www.shikhtaleb.net            │
└──────────────────────────────────────────┘
*/